%h1 Article Update
=@article.id
%p
  %strong Title: 
  =@article.title
 
%p
  %strong Text: 
  =@article.text
%p
= link_to 'Edit', edit_article_path(@article)
%p
= link_to 'Add another article', new_article_path
%p
= link_to 'View all articles', articles_path